
$utilities: (
  "font-family": (
    property: font-family,
    responsive: false,
    class: font,
    values: (
        sans:$font-family-sans,
        roboto:$font-family-Roboto,
    ),
  ),
  "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        light: $font-weight-light,
        regular: $font-weight-regular,
        medium: $font-weight-medium,
        bold: $font-weight-bold,
      )
    ),
    "font-size": (
    property: font-size,
    responsive: true,
    class: fs,
    values: (
        base:$font-size-base,
        sm:$font-size-sm,
        md:$font-size-md,
        lg:$font-size-lg,
        xl:$font-size-xl,
    ),
  ),
 );