
//主要顏色

$primary:       #630834 ; 
$secondary:     #E31277 ;
$success:       #190014CC ;
$info:          #000000 ;
$warning:       #ffc107 ;
$danger:        #dc3545 ;
$light:         #EFEFEF ;
$dark:          #707070 ;
$white:          #fff ;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      $white
) !default;


//space
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * 0.75,
  4: $spacer ,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 1.875,
  9: $spacer * 2,
  10: $spacer * 2.25,
  11: $spacer * 2.5,
  12: $spacer * 3.75,
) ;


//字型
$font-family-sans-serif:      Roboto, "Noto Sans CJK TC",system-ui, -apple-system, "Segoe UI",  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans :"Noto Sans CJK TC";
$font-family-Roboto :Roboto;


$font-weight-light:           300 !default;
$font-weight-regular:         400 !default;
$font-weight-medium:          500 !default;
$font-weight-bold:            700 !default;



$font-size-base:              1rem !default;
$font-size-sm:                $font-size-base * .75 !default;
$font-size-md:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-xl:                $font-size-base * 2.25 !default;

$h1-font-size:                $font-size-base * 2.25 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;


$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
) ;


$headings-margin-bottom:      0 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.5 !default;
$headings-color:              null !default;

//取消rfs
$enable-rfs:                  false !default;

//格線系統
$grid-gutter-width:           1.875rem !default;

$body-bg:                   $white !default;
$body-color:                $info !default;
$body-text-align:           null !default;

$link-decoration:           none !default;
$headings-margin-bottom:      0 !default;



$border-radius:               .25rem !default;
$border-radius-sm:            .25rem !default;
$border-radius-md:            .25rem !default;
$border-radius-lg:            .25rem !default;


//input-btn 基礎樣式
$input-btn-padding-y:         .625rem !default; //10px
$input-btn-padding-x:         1rem !default;    //16px
$input-btn-font-family:       null !default;


$input-btn-padding-y-sm:      .625rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-font-size-sm:      $font-size-sm !default;

$input-btn-padding-y-md:      .625rem !default;
$input-btn-padding-x-md:      3rem !default;
$input-btn-font-size-md:      $font-size-base !default;

$input-btn-padding-y-lg:      .75rem !default;  //12px
$input-btn-padding-x-lg:      3.25rem !default; //52px
$input-btn-font-size-lg:      1rem !default;    //16px



$btn-padding-y-md:            $input-btn-padding-y-md !default;
$btn-padding-x-md:            $input-btn-padding-x-md !default;
$btn-font-size-md:            $input-btn-font-size-md !default;


$btn-border-radius-md:        $border-radius-md !default;


//card 基礎樣式
$card-spacer-y:                     0 !default;
$card-spacer-x:                     0 !default;
$card-title-spacer-y:               $spacer * .5 !default;
$card-border-width:                 0 !default;
$card-border-radius:                0 !default;